ul.gallery
  width: 780px
  margin: 20px auto
  overflow: hidden
  li
    border: 1px solid #ccc
    background: #D8D8D8
    float: left
    padding: 5px
    text-align: center
    margin-right: 10px
    margin-bottom: 10px
    cursor: move
    .photo
      width: 130px
      height: 130px