ul.gallery
  width: 780px
  margin: 20px auto
  overflow: hidden
  li
    border: 1px solid #ccc
    float: left
    padding: 5px
    text-align: center
    margin-right: 10px
    margin-bottom: 10px
    .photo
      width: 130px
      height: 130px
    .handle
      // cursor: move