# rcov generated
coverage
# rdoc generated
rdoc
# yard generated
doc
.yardoc
# bundler
.bundle
# jeweler generated
pkg

db/*.sqlite3
db/schema.rb
config/database.yml
log/*.log
tmp/**/*
tmp/*
public/stylesheets/admin.css
public/stylesheets/common.css
docs/
.DS_Store
public/system/
db/dumps/

