#main .content ul.gallery {
  padding-left: 0;
  margin: 20px auto;
  width: 600px;
  overflow: hidden;
  list-style: none; }
  #main .content ul.gallery li {
    float: left;
    padding: 5px;
    text-align: center;
    margin: 0 10px 10px 0;
    border: none; }
    #main .content ul.gallery li .photo {
      width: 130px;
      height: 130px; }
      #main .content ul.gallery li .photo img {
        border: 3px solid black;
        padding: 2px; }
      #main .content ul.gallery li .photo img:hover {
        border: 3px solid white; }
