body {
  background: url("/images/vsvsvs/css/gradient.png") repeat-x;
  color: #362f2d; }
  body .container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0; }
    body .container .left {
      width: 280px;
      margin-right: 20px;
      float: left; }
    body .container .right {
      width: 660px;
      float: right; }
  body #header {
    overflow: hidden; }
    body #header .logo {
      font: 268px "Droid Sans Mono", arial, serif;
      letter-spacing: 1px;
      text-align: center;
      line-height: 250px;
      overflow: hidden;
      color: black; }
    body #header .navigation {
      background: black;
      color: white;
      text-transform: uppercase;
      margin-top: 20px;
      padding: 15px;
      overflow: hidden; }
      body #header .navigation ul.main_nav {
        overflow: hidden;
        width: 400px;
        margin: 0 auto; }
        body #header .navigation ul.main_nav li {
          float: left; }
          body #header .navigation ul.main_nav li a {
            text-decoration: none;
            letter-spacing: 1px;
            color: white;
            padding: 0 5px; }
          body #header .navigation ul.main_nav li a:hover {
            color: #ed145b;
            text-decoration: none; }
          body #header .navigation ul.main_nav li a.active {
            text-decoration: none;
            color: #ed145b; }
          body #header .navigation ul.main_nav li a.active:hover {
            color: #ed545b; }
        body #header .navigation ul.main_nav li + li {
          margin-left: 15px; }
  body #main {
    color: black;
    padding: 25px 0 0 0;
    overflow: hidden; }
    body #main .content .carousel-box {
      background: black;
      color: white;
      padding: 0;
      margin-bottom: 20px;
      overflow: hidden; }
      body #main .content .carousel-box img {
        float: right; }
      body #main .content .carousel-box .carousel-content {
        float: left;
        width: 270px;
        padding: 25px; }
      body #main .content .carousel-box .button {
        margin: 20px 20px 0px 20px;
        float: right; }
    body #main .content .box-heading {
      color: black;
      font-size: 25px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase; }
    body #main .content .content-box {
      background: black;
      color: white;
      padding: 15px;
      overflow: hidden;
      margin: 0 0 20px 0; }
    body #main .content .featured {
      background: black;
      margin-bottom: 40px;
      color: white; }
    body #main .content .featured .group {
      padding: 15px; }
    body #main .content .featured .button {
      float: right;
      margin-top: 15px; }
    body #main .content .heading {
      font-size: 1.5em;
      line-height: 1.1em;
      text-align: justify;
      padding: 40px; }
    body #main .content .filter {
      background: black;
      padding: 10px;
      color: white;
      margin: 0 0 15px 0;
      overflow: hidden; }
      body #main .content .filter a {
        color: white; }
      body #main .content .filter a:hover {
        color: #ed145b; }
      body #main .content .filter a.active {
        color: #ed145b; }
    body #main .content .item {
      margin: 40px 0 20px;
      overflow: hidden; }
    body #main .content a.item-title {
      color: white; }
    body #main .content a.item-title:hover {
      color: #ed145b; }
    body #main .content .item-date {
      float: right;
      color: #cccccc;
      text-transform: uppercase;
      font: 14px/18px "Droid Sans Mono", arial, serif; }
    body #main .content .item-button {
      float: right;
      margin: 15px 0; }
    body #main .content .item-image {
      float: left;
      width: 150px;
      margin: 20px 0 20px 20px; }
    body #main .content .item-content {
      float: right;
      width: 700px;
      margin: 20px 20px 0 20px; }
      body #main .content .item-content .button {
        margin-top: 10px;
        float: right; }
    body #main .content .show-item .item-image {
      float: left;
      margin: 15px 25px 15px 15px; }
    body #main .content .page-nav {
      margin-bottom: 30px; }
      body #main .content .page-nav span.title {
        font-size: 20px;
        margin-right: 30px; }
    body #main .content .pagination {
      display: inline; }
      body #main .content .pagination .prev_page {
        display: none; }
      body #main .content .pagination .next_page {
        display: none; }
      body #main .content .pagination span {
        padding: 2px 6px;
        margin: 0 2px;
        background: #ed145b;
        color: white; }
      body #main .content .pagination a {
        padding: 2px 5px; }
  body #footer {
    letter-spacing: 2px;
    background: url(/images/vsvsvs/css/divider-line.png) repeat-x;
    padding-top: 20px;
    margin: 20px 0 10px 0;
    text-align: center; }
