<h1>Photos in <%=@gallery.title%></h1>

<div class='box' id='file_container'>
  <div id='filelist'></div>
  <br />
  <div class='actions'>
    <button href='#' id='pickfiles'>Select Files</button>
    <button href='#' id='uploadfiles'>Upload Files</button>
  </div>

  <br />
  <div id='uploaded_files'>
    <ul class='gallery sortable_photos' id='gallery_photos'>
      <% @gallery.photos.each do |photo|%>
        <%= render :partial => 'cms_admin/photos/file', :object => photo %>
      <% end -%>
    </ul>
  </div>
</div>