.dragger {
  cursor: move;
}

.submit_element .value span, #cancel_btn {
  margin-right: 5px;
  float: right;
  padding: 3px 0;
}

.submit_element .value span {
  margin: 0 5px;
}

#cms_body table.formatted td.preview  {
  height: 45px;
}

#cms_body table.formatted td.embed {
  font-size: 8px;
}