<% if @gallery %>
  <% content_for :head do %> 
    <%= stylesheet_link_tag "/stylesheets/cms_gallery/cms_gallery_carousel.css" %>
    <%= javascript_include_tag "/javascripts/cms_gallery/cms_gallery_carousel.js" %> 
  <% end %>
  <ul id="cms_carousel" class="jcarousel-skin-tango">
    <% @gallery.photos.each do |photo| %>
      <li id="<%= dom_id(photo) %>">
        <div class="photo">
          <%= link_to image_tag(photo.image.url(:full), :alt => photo.description), photo.url %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  Gallery not found.
<% end %>